<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Ejemplo de un hola con flask y html </title>
	</head>
	<body>
	<h1> Variables del ambiente </h1>

	{% for x in lista %}
	<div class="{{x.nombre}}">
		<figure>
			<img 
				src="{{url_for('static', filename=x.nombre+'.png')}}"
		       	alt="Grafica de prueba"
	    	   	width="450"
		       	height="300">

		  	<figcaption>grafica {{x.nombre}}</figcaption>
		</figure>
		<p> {{x.nombre}}max = {{x.nombre}}({{x.t_max}})= {{x.max}}  </p>
		<p> {{x.nombre}}min = {{x.nombre}}({{x.t_min}})= {{x.min}}  </p>

	</div>
	{% endfor %}
	</body>
	
</html>